<h1>Menu</h1>
<%= nav_section("nav nav-pills") do %>
  <% @sections.each do |section| %>
    <%= section_link section %>
  <% end %>
<% end %>
<br>
<div class="card">
  <%= form_tag nil, method: 'get', class: 'card-block form-inline' do %>
    <div class="form-group">
      <%= hidden_field_tag :section, params[:section] %>
      <%= select_tag :sort_column, options_for_select(['name', 'price'], params[:sort_column]), class: 'form-control' %>
      <%= select_tag :sort_direction, options_for_select(['asc', 'desc'], params[:sort_direction]), class: 'form-control' %>
      <%= submit_tag 'Sort', class: 'btn btn-secondary'%>
    </div>
  <% end %>
</div>
<% @food_items.each do |item| %>
  <div class="card" style="width: 320px">
    <%= link_to(item) do %>
      <%= image_tag item.image_url_or_default, class: "card-img-top", alt: "#{item.name}" %>
    <% end %>
    <div class="card-block">
      <h5 class="card-title"><%= item.name %></h5>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-md-8">
          <span class="badge badge-pill badge-danger"><%= item.price %> VND</span> <small class="badge badge-info"><%= item.section.name %></small>
        </div>
        <div class="col-md-4">
          <%= link_to(orders_new_path(food: item.id)) do %>
            <button class="btn btn-sm btn-primary">Order</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>